version: '3.7'
services:
  squadbot:
    environment:
      TELEGRAM_BOT_TOKEN: "<your telegram bot token>"
      DEBUG_CHAT_ID: "-123456789"
      DOMAIN: "<webhook domain>"
      # USE_TEST_MODE: "true"
    command: |
      ./wait-for-it.sh postgres:5432 -t 120 --
      npm run start:dev

  postgres:
    ports:
      - 5432:5432