version: '3.7'
services:
  bot:
    environment:
      TELEGRAM_BOT_TOKEN: "<your telegram bot token>"
      GOOGLE_API_CREDENTIALS: "<stringified credentials JSON file>"
      SPREADSHEET_ID: "<spreadsheet id>"
      DEBUG_CHAT_ID: "-123456789"
    command: |
      ./wait-for-it.sh postgres:5432 -t 120 --
      npm run debug

  postgres:
    ports:
      - 5432:5432