<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Архивные долги</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

</head>
<body>
    <div class="container">
        <h1>Скинуть деняк человечку</h1>

        <div class="form_input">
            <label>От кого</label>
            <select id="payments_from_user_select">
                <option selected value="Валентин">Валентин</option>
                <option value="Виталик">Виталик</option>
                <option value="Миша">Миша</option>
            </select>
        </div>

        <div class="form_input">
            <label>Кому</label>
            <select id="payments_to_user_select">
                <option value="Валентин">Валентин</option>
                <option selected value="Виталик">Виталик</option>
                <option value="Миша">Миша</option>
            </select>
        </div>

        <div class="form_input">
            <label>Сумма, грн</label>
            <input id="payments_amount_input" type="number" placeholder="0.00">
        </div>
        <button id="save_payment_button" class="">Добавить перевод</button>
    </div>

    <div class="container">
        <h1>Оплатить счет</h1>

        <div class="form_input">
            <label>Кто платит</label>
            <select id="receipts_payer_select">
                <option selected value="Валентин">Валентин</option>
                <option value="Виталик">Виталик</option>
                <option value="Миша">Миша</option>
            </select>
        </div>

        <div class="form_input">
            <label>Сумма, грн</label>
            <input id="" type="number" placeholder="0.00">
        </div>

        <div class="form_input">
            <label>Описание</label>
            <input id="" type="text" placeholder="Мак">
        </div>

        <h3>За кого платишь</h3>

        <div class="debtor">
            <input type="checkbox" id="user1" name="user1" value="Валентин">
            <label for="user1">Валентин</label>
            <input class="debt_amount" id="" type="number" placeholder="0.00">
        </div>

        <div class="debtor">
            <input type="checkbox" id="user2" name="user2" value="Виталик">
            <label for="user2">Виталик</label>
            <input class="debt_amount" id="" type="number" placeholder="0.00">
        </div>

        <div class="debtor">
            <input type="checkbox" id="user3" name="user3" value="Миша">
            <label for="user3">Миша</label>
            <input class="debt_amount" id="" type="number" placeholder="0.00">
        </div>

        <div class="debtor">
            <input type="checkbox" id="user4" name="user4" value="Никита">
            <label for="user4">Никита</label>
            <input class="debt_amount" id="" type="number" placeholder="0.00">
        </div>

        <p id="error_message">Остаток: 530 грн</p>

        <button id="" class="" style="background:  rgb(226 152 17);">Оплатить счет</button>
    </div>

    <script src="/static/js/main.js"></script>

</body>
</html>