<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Squad Bot</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/nav_style.css">
</head>
<body>
    <div id="nav_container" class="nav_container"></div>

    <div class="container">
        <h1><span>Усі платежі</span> <button class="create_new_item" onclick="createNewItem()">+</button></h1>
        <div id="payments_list_container"></div>
    </div>

    <div id="fullscreen_animation_container">
        <img class="animation1" src="/static/img/thumbup.png">
        <img class="animation2" src="/static/img/kiss.png">
        <img class="animation3" src="/static/img/party.png">
        <!-- <img class="animation4" src="/static/img/thumbup.png"> -->
        <!-- <img class="animation5" src="/static/img/thumbup.png"> -->
        <div class="animation6">УСПІШНО</div>
        <div class="animation7">Чек був збережений</div>
        <img class="animation10" src="/static/img/women-with-bunny-ears.png">
    </div>

    <script src="/static/js/auth.js"></script>
    <script src="/static/js/nav.js"></script>
    <script src="/static/js/helpers.js"></script>
    <script src="/static/js/payments_list.js"></script>
</body>
</html>