<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Squad Bot</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/nav_style.css">
</head>
<body>
    <div id="nav_container" class="nav_container"></div>

    <div class="container">
        <h1>Створити переказ</h1>

        <div class="form_input">
            <label>* Від кого</label>
            <select id="payments_from_user_select">
                <option selected value="?">Завантаження...</option>
            </select>
        </div>

        <div class="form_input">
            <label>* Кому</label>
            <select id="payments_to_user_select">
                <option selected value="?">Завантаження...</option>
            </select>
        </div>

        <div class="form_input">
            <label>* Сума, грн</label>
            <input id="payments_amount_input" type="number" placeholder="0.00">
        </div>
        <button id="save_payment_button" class="">Створити переказ</button>
    </div>

    <div id="fullscreen_animation_container">
        <img class="animation1" src="/static/img/thumbup.png">
        <img class="animation2" src="/static/img/kiss.png">
        <img class="animation3" src="/static/img/party.png">
        <!-- <img class="animation4" src="/static/img/thumbup.png"> -->
        <!-- <img class="animation5" src="/static/img/thumbup.png"> -->
        <div class="animation6">УСПІШНО</div>
        <div class="animation7">Переказ був створений</div>
        <img class="animation10" src="/static/img/women-with-bunny-ears.png">
    </div>

    <script src="/static/js/auth.js"></script>
    <script src="/static/js/nav.js"></script>
    <script src="/static/js/helpers.js"></script>
    <script src="/static/js/payment.js"></script>

</body>
</html>