<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Squad Bot</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/nav_style.css">
</head>
<body>
    <div id="nav_container" class="nav_container"></div>

    <div class="container">
        <h1 id="page_title">Добавить чек</h1>

        <div class="form_input">
            <label>* Кто платит</label>
            <select id="receipts_payer_select">
                <option selected value="?">Загрузка...</option>
            </select>
        </div>

        <div class="form_input">
            <label for="receipts_photo_input">Загрузить фотографию чека</label>
            <input type="file" id="receipts_photo_input" class="hidden" name="receipts_photo_input" accept=".jpg, .jpeg, .png">
            <button id="receipts_add_photo_button" class="hidden" type="button">Добавить фото чека</button>
            <button id="receipts_delete_photo_button"  class="hidden" type="button">Удалить фото чека</button>
        </div>

        <div class="form_input">
            <label>* Сумма, грн</label>
            <input id="receipts_amount_input" type="number" placeholder="0.00">
        </div>

        <div class="form_input">
            <label>Описание</label>
            <input id="receipts_description_input" type="text" placeholder="Мак">
        </div>

        <h3>За кого платишь</h3>
        <button id="divide_money_button">Распределить поровну</button>

        <div id="receipt_debtors_container"></div>

        <p id="error_message">Остаток: 0 грн</p>
        <button id="add_receipt_button" class="" style="background:  rgb(226 152 17);">Добавить чек</button>
    </div>

    <div id="fullscreen_animation_container">
        <img class="animation1" src="/static/img/thumbup.png">
        <img class="animation2" src="/static/img/kiss.png">
        <img class="animation3" src="/static/img/party.png">
        <!-- <img class="animation4" src="/static/img/thumbup.png"> -->
        <!-- <img class="animation5" src="/static/img/thumbup.png"> -->
        <div class="animation6">УСПЕШНО</div>
        <div class="animation7">Чек добавлен/обновлен</div>
        <img class="animation10" src="/static/img/women-with-bunny-ears.png">
    </div>

    <script src="/static/js/auth.js"></script>
    <script src="/static/js/nav.js"></script>
    <script src="/static/js/helpers.js"></script>
    <script src="/static/js/receipt.js"></script>

</body>
</html>