* {
    font-family: 'Roboto';
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.action_buttons > * {
    cursor: pointer;
}

.hidden {
    display: none !important;
}

#auth-info {
    z-index: 9999;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 5px 10px 5px white;
}

#auth-info p {
    text-align: center;
    font-size: 14px;
    opacity: 0.75;
    cursor: pointer;
    margin: 0px;
}

button {
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 500px;
    padding: 15px;
}

.container h1 {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
}

.container h1 span {
    flex-grow: 1;
}

.container h3 {
    margin: 20px 0px 5px 0px;
}

.container h5 {
    margin-top: 0px;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.5;
}

.form_input {
    min-height: 56px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    margin-bottom: 12px;
    background: rgb(238, 243, 245);
    border-radius: 12px;
    padding: 9px 15px;
}

.form_input select {
    padding-left: 0px;
    font-size: 15px;
    margin-top: 4px;
    background: none;
    outline: none;
    border: none;
    margin-left: -3px;
}

.form_input input {
    padding-left: 0px;
    font-size: 15px;
    margin-top: 4px;
    background: none;
    border:  none;
    outline: none;
}

.form_input > label {
    font-size: 11px;
    font-weight: 500;
    opacity: 0.5;
}

.container button {
    color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    font-weight: 600;
    font-size: 16px;
    background: rgb(9, 135, 9);
    border-radius: 12px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
}

.container button.disabled {
    opacity: 0.7;
}

#receipts_add_photo_button, #receipts_delete_photo_button {
    margin-top: 5px !important;
}

#receipts_total_sum {
    text-align: right;
    padding: 10px;
    border-top: 1px solid rgb(75, 75, 75);
    color: rgb(75, 75, 75);
}

.debtor {
    padding: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.debtor:not(:first-child) {
    border-top: 1px solid #ebebeb;
}

.debtor > div {
    width: 100%;
    overflow: hidden;
}

.receipt_list_item .debtor > div {
    width: auto;
}

.debtor label {
    padding: 6px;
    cursor: pointer;
    width: 100%;
}

.debtor .debtor_username {
    font-size: 12px;
    opacity: 0.5;
}

.debtor>div {
    display: flex;
    align-items: center;
}

.debtor .debt_amount {
    padding: 10px;
    min-width: 150px;
    border: none;
    outline: none;
    text-align: right;
    font-size: 16px;
}

button.create_new_item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 10px;
    font-size: 30px;
    font-weight: normal;
    border-radius: 100%;
}

button.toggle_debtors_hidden_container {
    height: 37px;
    font-weight: normal;
    color: rgb(110, 110, 110);
    border: 2px solid rgb(190, 190, 190);
    background-color: white;
    margin-bottom: 10px;
}

#add_receipt_button {
    margin-bottom: 40px;
}

.remaining_balance_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 4px 0px 8px 0px;
}

#remaining_balance {
    flex-grow: 1;
    font-weight: 600;
    color: rgb(9, 135, 9);
    padding: 8px 0px;
}

#remaining_balance.remaining_balance_warning {
    color: #d20d0d;
}

#split_remaining_balance_equally_container {
    display: flex;
    flex-direction: row;
}

#split_remaining_balance_equally_container,
#split_remaining_balance_equally_container * {
    cursor: pointer;
}

#split_remaining_balance_equally_container label {
    padding: 8px 0px;
    padding-left: 6px;
}

#receipts_delete_photo_button {
    background: none;
    font-size: 15px;
    color: #d20d0d;
    border: 2px solid #d20d0d;
    height: 37px;
    margin: 0px 0 5px 0;
}

#open_photo_link {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #06265b;
    font-weight: 600;
    opacity: 0.75;
    margin-top: 5px;
}

#receipts_add_photo_button {
    height: 37px;
    margin: 0px 0 5px 0;
}

.photo_popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.photo_popup_window {
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    border: 2px solid rgb(54, 62, 86);
    overflow: auto;
}

.photo_popup img {
    width: 100%;
}

/* receipts list */

.receipt_list_item {
    padding: 15px;
    background: rgb(238, 243, 245);
    margin-bottom: 16px;
    border-radius: 10px;
    flex-direction: column;
    border: none;
    width: 100%;
    box-sizing: border-box;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.6vw;
    cursor: pointer;
}
.receipt_list_item.active {
    cursor: unset;
}
.receipt_list_item .debtor_list {
    opacity: 0.75;
}
.receipt_list_item .payer, .receipt_list_item .debtor, .receipt_list_item .comment_item, .receipt_list_item .action_buttons, .payment_list_item .action_buttons {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 1px 0px;
    font-size: 14px;
    border: none;
}
.receipt_list_item .payer {
    font-size: 16px;
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(127, 127, 127, 0.5);
}
.receipt_list_item .comment_item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    color: rgb(1, 1, 1);
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}

.receipt_list_item .comment_item--description {
    color: #098709;
    flex-grow: 1;
}

.receipt_list_item.active .action_buttons_container, .payment_list_item.active .action_buttons_container {
    max-height: 100px;
    transition: max-height 0.5s linear;
}
.receipt_list_item .action_buttons_container, .payment_list_item .action_buttons_container {
    max-height: 0px;
    transition: max-height 0.5s linear;
    overflow: hidden;
}

.receipt_list_item .comment_item > div:nth-child(1) {
    padding-right: 12px;
}

.receipt_list_item .action_buttons, .payment_list_item .action_buttons {
    align-items: center;
    font-size: 14px;
    padding-top: 23px;
}
.receipt_list_item .action_buttons > div, .payment_list_item .action_buttons > div {
    display: flex;
    align-items: center;
}
.receipt_list_item .action_buttons > div:hover {
    cursor: pointer;
}
.receipt_list_item .action_buttons > div svg, .payment_list_item .action_buttons > div svg {
    margin-right: 5px;
}
.yellow_color {
    color: #e0830f;
}
.blue_color {
    color: #1f657b;
}
.red_color {
    color: #d20d0d;
}

.receipts_tip_note {
    color: #616161;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 10px;
    padding: 0px 5px;
}

/* payments list */

.payment_list_item {
    padding: 15px;
    background: rgb(238, 243, 245);
    margin-bottom: 16px;
    border-radius: 10px;
    border: none;
    width: 100%;
    position: relative;
    cursor: pointer;
}
.payment_list_item .action_buttons {
    justify-content: flex-end;
}
.payment_list_item.active {
    cursor: unset;
}
.payment_list_item .main {
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
}
.payment_list_item .main > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.payment_list_item .amount {
    text-align: right;
    font-size: 17px;
}
.payment_list_item .date {
    text-align: right;
    color: #9a9a9a;
    font-size: 14px;
}
.payment_list_item > img {
    position: absolute;
    left: 9px;
    transform: rotate(-40deg);
    top: 22px;
    width: 27px;
    opacity: 0.7;
}

/* animations */

#fullscreen_animation_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    pointer-events: none;
    z-index: 1001;
}
#fullscreen_animation_container.active {
    display: block;
}
#fullscreen_animation_container.active .animation1 {
    animation: animation1 3s linear;
    position: absolute;
    left: -100vw;
    width: 120px;
}
#fullscreen_animation_container.active .animation2 {
    animation: animation2 5s linear;
    position: absolute;
    left: -100vw;
    width: 40px;
}
#fullscreen_animation_container.active .animation3 {
    animation: animation3 6s linear;
    position: absolute;
    left: -100vw;
    width: 40px;
}
#fullscreen_animation_container.active .animation4 {
    animation: animation4 3s linear 2s;
    position: absolute;
    left: -100vw;
    width: 40px;
}
#fullscreen_animation_container.active .animation5 {
    animation: animation5 4s linear 1s;
    position: absolute;
    left: -100vw;
    width: 40px;
}
#fullscreen_animation_container.active .animation6 {
    text-shadow: 0 0 5px #03f616, 0 0 5px #13c929, 0 0 1px #fff, 0 0 20px #26b61c, 0 0 10px #000000, 0 0 20px #000000, 0 0 55px #000000, 0 0 75px #10ff00, 0px 0px 12px rgb(206 89 55 / 0%);
    color: #FFFFFF;
    font-size: 42px;
    font-weight: 900;
    animation: animation6 5s linear;
    position: absolute;
    left: -100vw;
}
#fullscreen_animation_container.active .animation7 {
    text-shadow: 0 0 5px #ff5722, 0 0 5px #ff5722, 0 0 1px #fff, 0 0 10px #ffa082, 0 0 0px #0c0c0c, 0 0 1px #858181, 0 0 15px #686868, 0 0 21px #ff7600, 0px 0px 12px rgb(220 68 24 / 40%);
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 900;
    animation: animation7 5s linear;
    position: absolute;
    left: -60vw;
    width: 300px;
}
#fullscreen_animation_container.active .animation10 {
    animation: animation10 4s linear 1s;
    position: absolute;
    width: 80px;
    bottom: 14px;
    left: -100vw;
}

@keyframes animation1 {
    from {
        left: 35vw;
        top: 102vh;
        transform:rotate(0deg);
    }
    to {
        left: 35vw;
        top: -20vh;
        transform:rotate(360deg);
    }
}

@keyframes animation2 {
    from {
        left: 105vw;
        top: 202vh;
        transform: scale(1);
    }
    to {
        left: 0vw;
        top: -60vh;
        transform: scale(3);
    }
}
@keyframes animation3 {
    from {
        left: 40vw;
        top: 102vh;
        transform:rotate(0deg);
    }
    to {
        left: -30vw;
        top: -60vh;
        transform:rotate(1220deg);
    }
}
@keyframes animation4 {
    from {
        left: 8vw;
        top: 152vh;
        transform:rotate(0deg);
    }
    to {
        left: 130vw;
        top: -20vh;
        transform:rotate(1000deg);
    }
}
@keyframes animation5 {
    from {
        left: -60vw;
        top: 140vh;
        transform:rotate(0deg);
    }
    to {
        left: 130vw;
        top: 30vh;
        transform:rotate(3000deg);
    }
}
/* успешно */
@keyframes animation6 {
    from {
        left: -20vw;
        top: 120vh;
        transform:rotate(-70deg);
    }
    to {
        left: 120vw;
        top: -20vh;
        transform:rotate(70deg);
    }
}
/* платеж добавлен */
@keyframes animation7 {
    from {
        left: 140vw;
        top: 140vh;
        transform:rotate(50deg);
    }
    to {
        left: -20vw;
        top: -20vh;
        transform:rotate(-50deg);
    }
}
/* women with bunny ears */
@keyframes animation10 {
    from {
        left: -10vw;
    }
    to {
        left: 110vw;
    }
}