services:
  sb_app:
    # profiles:
    #   - donotstart
    environment:
      # testing
      LOG_DATABASE_QUERIES: "$LOG_DATABASE_QUERIES"
      USE_TEST_MODE: "$USE_TEST_MODE"
      DISABLE_MEMBERSHIP_REFRESH_TASK: "$DISABLE_MEMBERSHIP_REFRESH_TASK"
    ports:
      - "3000:3000"

  sb_postgres:
    ports:
      - "5433:5432"
    volumes:
      - "./local/postgres-data:/var/lib/postgresql/data"

  sb_redis:
    ports:
      - "6380:6379"
